<div class="border-form-div">
  <h2>sign in</h2>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { autocomplete: 'off' }) do |f| %>
    <%= f.email_field :email, :autofocus => true, placeholder: "email" %>
    <%= f.password_field :password, placeholder: "password" %><br>
    <%= f.submit "sign in", class:"btn btn-md btn-success devise_button" %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
